.row {
  margin: 0;
  max-width: 100%;
}

#sdk-version {
	margin-top: 10px;
	padding-top: 10px;
	border-top: 1px dotted #CCC;
}
#sdk-version p {
	color: #555555;
	font-weight: 100;
	font-size: 10px;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	text-transform: uppercase;
	color: #78A300;
}

h6 {
	font-weight: 200;
}

p {
	font-size: 12px;
	color: #555555;
}

.img-small {
	height: 15px;
	padding-right: 5px;
}

.device-info, .user-info {
	padding-top: 10px;
	padding-bottom: 10px;
}

.half-left {
	width: 50%;
	float: left;
}
.half-right {
	width: 50%;
	float: right;
}

hr {
	margin-top: 5px;
	margin-bottom: 0;
}

.loading{
  display: block;
  margin: 0 auto;
}
