img {
  float: left;
  display: block;
}

iframe {
  width: 320px;
}

.row {
  margin: 0;
  max-width: 100%;
}

.top-device-info{
  float: left;
  margin-left: 10px;
}

.device_specs_inner{
  display: inline-block;
  overflow: auto;
}

#device_specs{
  text-align: center;
}

#trusted {
  border-top: 1px dotted #CCC;
  border-bottom: 1px dotted #CCC;
  margin: 10px 0 10px;
  padding: 5px 0px;
  text-align: center;
}

.battery-memory-wrapper{
  overflow: auto;
  text-align: center;
}

.battery-memory-wrapper-inner{
  display: inline-block;
  overflow: auto;
  text-align: left;
}

#device_battery{
  float: left;
  overflow: auto;
  margin-right: 40px;
}

.device-battery-image{
  overflow: auto;
  margin-bottom: 7px;
}

#battery_percentage{
  margin-left: 5px;
  margin-top: 5px;
  font-size: 1.3em;
}

#device_memory_and_storage{
  float: right;
}

#ip_address{
  border-top: 1px dotted #CCC;
  border-bottom: 1px dotted #CCC;
  margin: 10px 0 10px;
  padding: 5px 0px;
  text-align: center;
}

#location{
  border-top: 1px dotted #CCC;
  border-bottom: 1px dotted #CCC;
  margin: 10px 0 10px;
  padding: 5px 0px;
  text-align: center;
}
