section[data-main] {

  .row {
    margin: 0;
    max-width: 100%;
  }
  
  #sdk-version {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted #CCC;
  }
  
  #sdk-version p {
    color: #555555;
    font-weight: 100;
    font-size: 10px;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
  }
  
  h1, h2, h3, h4, h5 {
    text-transform: uppercase;
    color: #555555;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Arial, sans-serif;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
  
  h6 {
    text-transform: uppercase;
    color: #37B8AF;
    font-weight: 200;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
  
  p {
    font-size: 12px;
    color: #555555;
  }
  
  .img-small {
    height: 15px;
    padding-right: 5px;
  }
  
  .device-info, .user-info {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  .half-left {
    width: 50%;
    float: left;
  }
  .half-right {
    width: 50%;
    float: right;
  }
  
  hr {
    margin-top: 5px;
    margin-bottom: 0;
  }
  
  .loading{
    display: block;
    margin: 0 auto;
  }
  
}
